<h5 class="card-title text-center font-weight-bold">EDUCATION</h5>
 
<table class="table">
    <thead>
      <tr>
        <th scope="col">Degree</th>
        <th scope="col">School/University</th>
        <th scope="col">Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full Stack .NET Cloud Developer Bridging Program</td>
        <td>Humber College, Toronto, ON</td>
        <td>Jan - June 2023</td>
      </tr>
      <tr>
        <td>Master of Science in Integrated Computer Science</td>
        <td>Huazhong University of Science and Technology</td>
        <td>2007</td>
      </tr>
      <tr>
        <td>Bachelor of Science in Computer Information Technology</td>
        <td>Hebei University of Engineering</td>
        <td>2000</td>
      </tr>
    </tbody>
  </table>
<!-- <div class="row mt-4">
    <div class="col-md-12">
      <h5 class="card-title text-center font-weight-bold">EDUCATION</h5>
      <div *ngFor="let education of educations" class="education-container">
        <div class="row">
          <div class="col-md-4 bg-green text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <h6>{{ education.degree }}</h6>
              <p class="dates">{{ education.startDate }} – {{ education.endDate }}</p>
            </div>
          </div>
          <div class="col-md-8">
            <h5 class="card-title">{{ education.details }}</h5>
            <ul class="list-group list-group-flush">
              <div class="education-details">
                <ul>
                  <li *ngFor="let detail of education.details">{{ detail }}</li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

        -->