<div class="row mt-4">
  <h5 class="card-title text-center font-weight-bold bg-light">ABOUT</h5>
 
  <div class="col-md-6">
     <p>Hello! I am LIPING WANG. Web Developer, Tester, and It infrustrucuter.</p>
    <p>I have 10 yrs of experience as a developer by using C#, C++, SQLSERVER, Mysql, Linux.</p>
      <p>I'm passionate about delivering high-quality software projects.</p>
       </div>
  <div class="col-md-6">
   
     <ul class="list-group list-group-flush">
      <li class="list-group-item">EMAIL: {{ card.email }}</li>
      <li class="list-group-item">PHONE: {{ card.phone }}</li>
      <li class="list-group-item">ADDRESS: {{ card.address }}</li>
      
    </ul>
 
  </div>
</div>