<app-navbar></app-navbar>

<app-banner></app-banner>

<section class="pt-4">
  <div class="container px-lg-5">
      <app-card [card]="card" *ngFor="let card of cards"></app-card>
  </div>
</section>
<section class="pt-4">
  <div class="container px-lg-5">
  <app-skills ></app-skills>
</div>
</section>

<section class="pt-4">
  <div class="container px-lg-5">
    <app-images></app-images>
</div>
</section>
<section class="pt-4">
  <div class="container px-lg-5">
    <app-experiences></app-experiences>
</div>
</section>
<section class="pt-4">
  <div class="container px-lg-5">
    <app-education></app-education>
</div>
</section>
<section class="pt-4">
  <div class="container px-lg-5">
    <app-contracts></app-contracts>
</div>
</section>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; LIPING 2023</p>
  