<div class="container px-lg-5">
  <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
    <div class="card-body">
      <img src="111.png" alt="okkk" class="portrait-image">
      <h1 class="display-5 fw-bold  text-white">{{ banner.heading }}</h1>
      <p class="fs-4  text-white">{{ banner.subHeading }}</p>
      <button (click)="handleClick()" class="btn btn-primary btn-lg">{{ banner.hirB }}</button>               
      <button (click)="handleClick()" class="btn btn-primary btn-lg">{{ banner.downB }}</button>

    </div>
  </div>
</div>